<div class="wrapper">
  <slot />
</div>

<style>
  .wrapper {
    max-width: var(--maxWidth);
    margin: 0 auto;
    padding: 0 calc(var(--space) *2);
    display: flex;
    flex-direction: column;
  }
</style>
